@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid" style="background: none;">
  <div class="container">
    <h1 class="display-4">Welcome</h1>
    <h3>This is Pierre's Vendor tracker! Vendor tracker locates orders from each vendor and gives details about purchased baked goods. Let's take a look!</h3>
    <hr />
    <a class="btn btn outline" style = "background-color: #ffe44d;border: solid; color: black;" type="submit" href='/vendors/new'>Start Here</a>
  </div>
</div>


