@{
  Layout = "_Layout";
}

<div>
  <h1 class="text-center"> Welcome to Pierre's Vendor tracker! Vendor tracker locates orders from each vendor and gives details about purchased baked goods. Let's take a look! </h1>
  <p class="text-center">
    <a class="btn btn-info" href='/vendors/new'>Add A New Vendor</a>
  </p>
</div>

