@{
  Layout = "_Layout";
}

<div class="text-center">
  <h1 class="text-center">Add A New Order</h1>
  <p>Vendor: @Model.Name</p>
  
  <form action="/vendors/@Model.Id/orders" method="post">
  
    <input id="nameOrder" name="nameOrder" placeholder="Order Title" type="text">
    
    <input id="descriptionOrder" name="descriptionOrder" placeholder="Description" type="text">
    
    <input id="priceOrder" name="priceOrder" placeholder="Price" type="text">
    
    <input id="dateOrder" name="dateOrder" placeholder="Date of Order" type="text">
    <button class="btn btn-info" type='submit'>Add Order</button>
  </form>
</div>

