@using VendorOrder.Models; 
@{
  Layout = "_Layout";
}
<div>
  <h1 class="text-center"> List of Vendors</h1>
  @if (Model.Count == 0)
  {
    <p class="text-center">No Vendors Have Been Added Yet!</p>
  }
  @foreach (Vendor vendor in Model)
  {
    <p class="text-center">Name: <a style = "color: black;" href='/vendors/@vendor.Id'>@vendor.Name</a></p>
    <br>
  }
   <p class="text-center"  >
    <a class="btn btn outline" href='/vendors/new' type = "submit" style = "background-color: #ffe44d;border: solid; color: black;">Add A New Vendor</a>
  </p>
</div>