@{
  Layout = "_Layout";
}
<div class="text-center">
  <h1 class="text-center">Add A New Vendor</h1>
  <form action="/vendors" method="post">
    <input id="nameVendor" name="nameVendor" placeholder="Vendor Name" type="text">
    <input id="descriptionVendor" name="descriptionVendor" placeholder="Description" type="text">
    <input id="contactVendor" name="contactVendor" placeholder="Email" type="text">
    <button class="btn btn-info" type="submit">Add  Vendor</button>
  </form>
</div>


