@{
  Layout = "_Layout";
}
@using VendorOrder.Models; 

<div class="text-center">
  <h1 class="text-center">Orders for @Model["vendor"].Name</h1>
  <p>
    @if(@Model["orders"].Count == 0)
    {
    <p>No Orders available for this vendor.</p>
    }
  </p>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  }
  <br>
  <a class="btn btn-info" href='/vendors/@Model["vendor"].Id/orders/new' >Add New Order</a>
</div>